<%- include ('./main/head') %>
<%- include ('./main/nav') %>
<section class="page-section" id="contact">
	<div class="container mt-5">
		<div class="text-center">
			<h2 class="section-heading">Thank You to Contact Us!</h2>
			<h3 class="section-subheading text-light">It's Nice To Meet You!</h3>
			<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/">Back to home page</a>
		</div>
	</div>
</section>
<%- include('./main/footer')%>